.hero{
    background-image: url(../../../../assets/img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    width: 100%;
    border-radius: 2rem;
    margin-top: 4rem;
    
}